.enter-container {
    padding-top: 15px;
    display: flex;
    position: relative;
  height: 100vh;
    background-color: rgb(20, 25, 53); }
  
  .enter-content {
    background-color: #eef5f6;
    width: 100%;
    padding-left: 10px;
    border-radius: 20px; }
  
  .enterForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  
  .formGroup {
    display: flex;
    align-items: center;
    
    margin-bottom: 10px; }
    .formGroup label {
      display: flex;
      margin-bottom: 5px; }
    .formGroup .reg-input {
      width: 250px;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid;
      border-radius: 10px;
      outline: none;
      background: none;
      box-shadow: none;
      font-family: inherit;
      font-size: inherit;
      color: inherit; }
  
  .button-style{
    margin: 0;
    padding: 10px;
    border: 1px solid gray;
    background: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
  }